body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  
  .jam-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .jam {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
